<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Descripción</th>
      <th scope="col">Imagen</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    @for (repuesto of repuestos; track repuesto.codigo; let last = $last) {
    <tr>
      <th scope="row">{{repuesto.codigo}}</th>
      <td><img [src]="repuesto.imagen" class="img-fluid" [alt]="repuesto.codigo"></td>
      <td>{{repuesto.descripcion}}</td>
      <td>{{repuesto.precio }}</td>
      <td>
        @if (repuesto.stock > 0){
        <span class="badge text-bg-success">CON STOCK</span>
        } @else {
        <span class="badge text-bg-danger">SIN STOCK</span>
        }
      </td>
    </tr>
    } @empty {
    <tr>
      <td colspan="4" class="text-center text-muted"> NO HAY ELEMENTOS </td>
    </tr>
    }
  </tbody>
</table>
