input {
  max-width: 90px;
  min-width: 80px;
  width: 100%;
  box-sizing: border-box;
  color: #000 !important;
  background-color: #fff !important;
  text-align: center;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
